<% include partials/header  %>

<h1>Login for YelpCamp</h1>

<form action="/login" method="POST">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <button>SIGN IN</button>
</form>

<% include partials/footer  %>